/* USER-Defined */

.tb-white-bg{
	background: white !important;
	color: black !important;
}

.text-black{
	color: black !important;
}

.text-white{
	color: white !important;
}

.view-details {
	cursor: pointer;
}

span.view-details:hover {
	color: red !important;
	transition-delay: 0.3s !important;
}

.fortransitioneffect:hover{
	color:white;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-ms-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
	transition: color 500ms ease-in;
}

.panel-list-group-item:hover{
	cursor: pointer;
	background: black !important;
	-webkit-transition: background 500ms ease-in;
	-moz-transition: background 500ms ease-in;
	-ms-transition: background 500ms ease-in;
	-o-transition: background 500ms ease-in;
	transition: background 500ms ease-in;
}

.input-like-label {
	background-color: white !important; 
	border: none !important; 
	box-shadow: none !important;
}

.close-icon
{
	font-size: 10px;
	font-weight: bold;
}

#datestart,#dateend,#tddatestart,#tddateend
{
	width:105px;
	border: 0px;
	background: rgba(0,0,0,0);
	padding: 0px;
	margin-top:-5px;
	font-weight: bold;
}
#tddateend
{
	margin-left:15px;
}
#pers,#auditor,#month
{
	width:150px;
	border: 0px;
	background: rgba(0,0,0,0);
	padding: 0px;
	margin-top:-5px;
	font-weight: bold;
}
.labelx
{
	padding:10px;
}
.gray-color
{
	background-color:#DCDCDC;
	margin-bottom:5px !important;
}

a:hover
{
	cursor: pointer;
}

.guide-hover:hover{
	background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%) !important; 
	color: white !important;
}


